{% extends 'base.html' %}
<!-- Se extiende la base.html porque esa será la plantilla base-->
<!-- y en ella se van a insertar los bloques de código de esta-->
{% import 'macros.html' as macros %}
<!-- Se importa macros.html porque de esa se van a insertar bloques de codigos-->
<!--a estos bloques se les conoce como marcos-->
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}

    {% if username %}
        {# {{ usaername | capitalize }} es igual a {{username.capitalize()}} #}
        <h1>Bienvenido {{ username | capitalize() }}</h1>
    {% endif %}

    {% if user_ip %}
        <h1>Hello world platzi, your ip is {{user_ip}}</h1>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    <div class="container">
        <!-- <form action="{{ url_for('hello') }}" method = 'POST'>
            {{ login_form.username }}
            {{ login_form.username.label }}
        </form> -->
    {# wtf.quick_form es una forma de renderear todo el form mas facil y rapido, #}
    {# ya que solo hay que pasarle el form completo y reconoce los elementos y #} 
    {# los renderea----Mirar en la documentacion mas informacion #}
        {{ wtf.quick_form(login_form) }}
    </div>

    <ul>
        {% for todo in todos %}
        {{ macros.render_todo(todo) }} 
        {% endfor %}
    </ul>

{% endblock  %}
