{% extends 'base.html' %}
<!-- Se extiende la base.html porque esa será la plantilla base-->
<!-- y en ella se van a insertar los bloques de código de esta-->
{% import 'macros.html' as macros %}
<!-- Se importa macros.html porque de esa se van a insertar bloques de codigos-->
<!--a estos bloques se les conoce como marcos-->
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    Bienvenido
{% endblock %}

{% block content %}

    {% if username %}
        {# {{ usaername | capitalize }} es igual a {{username.capitalize()}} #}
        <h1>Bienvenido {{ username | capitalize() }}</h1>
    {% endif %}

    {% if user_ip %}
        <h1>Hello world platzi, your ip is {{user_ip}}</h1>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}

    
    <div class="container">
        <h3 class ="title"> ToDo List </h3>
        <div class="col-6">
            <ul class = "list-group">
                {% for todo in todos %}
                    {{ macros.render_todo(todo, delete_form, update_form) }} 
                {% endfor %}
            </ul>
        </div>

        <h4>Crea una nueva tarea</h4>
        {{ wtf.quick_form(todo_form) }}
    </div>


{% endblock  %}
