{% import 'bootstrap/wtf.html' as wtf%}

{% macro render_todo(todo, delete_form, update_form) %}
    <li class="list-group-item">
        Descripción: {{ todo['description'] | capitalize }}
        {%if todo['done'] %}
            <span class="badge badge-success badge-pill">
                Done
            </span>
            {% else %}
            <span class="badge badge-secondary badge-pill">
                To do
            </span>
        {% endif %}
        <!-- {{ wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id)) }} 
        esta es la opcion por defecto, para que funcione la de abajo en el metodo delete de main
        hay que agregarle el metodo GET, 
        ya que el detele form es un formulario, y se necesita el metodo POST
        mientras que con la forma de abajo es un get-->
        <span class="p-2">
            <a href="{{url_for('delete', todo_id=todo['id'])}}" class="btn d-inline btn-outline-danger btn-sm">
                Borrar
            </a>
        </span>
        <span class="p-2">
            <a href="{{url_for('update', todo_id=todo['id'], done=todo['done'])}}" class="btn d-inline btn-outline-primary btn-sm">
                Actualizar
            </a>
        </span>
    </li>
{% endmacro %}
<!--Un amcro es un bloque de código que se va a importar en otra plantilla
funciona similar a las funciones en python render_todo es el nombre del macro
y todo es el parametro que se le pasa, por eso se imprime todo con doble corchete 
que es la sintaxis de las variables-->